
/wandb
/SlowFastResNet18/wandb
/SlowFastResNet18/ResNet18_Final-main/__pycache__
/SlowFastResNet18/ResNet18_Final-main/__pycache__
/SlowFastResNet18/ResNet18_Final-main/__pycache__
/SlowFastResNet18/ResNet18_Final-main/OG_Slowfast34_version
SlowFastResNet18/ResNet18_Final-main/OG_slowfast.py
/SlowFastResNet18/ResNet18_Final-main/Old_versions
SlowFastResNet18/ResNet18_Final-main/sandbox.py
/SlowFastResNet18/ResNet18_Final-main/wandb
/SlowFastResNet18/LogMelSpectrograms_TestSet
/SlowFastResNet18/ResNet18_Final-main/__pycache__
/SlowFastResNet18/ResNet18_Final-main/misc_code
/SlowFastResNet18/ResNet18_Final-main/Old_Bases
